/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*** Fonts ***/
body {
  font-family: Arial, Verdana, sans-serif; }

/* General */
p {
  margin-bottom: 1em; }

a {
  color: #685ca0; }

.aside {
  font-family: arial, sans-serif;
  font-weight: bold;
  margin: 8px 0; }

.small-aside {
  font-family: arial, sans-serif;
  line-height: 1.2em;
  margin: 8px 0; }

.text-center {
  text-align: center;
  width: 100%; }

/* Headers */
h1 {
  color: #333;
  font-size: 38px;
  margin-bottom: 9px; }

h2 {
  color: #333;
  font-size: 25px;
  margin-bottom: 7px; }

.head h1 {
  color: #fff;
  font-family: Baskerville, Georgia, Verdana;
  font-size: 40px;
  font-weight: bold;
  float: left;
  padding-left: 20px;
  padding-top: 20px; }

/* Menus */
.menu a {
  color: #296f5d;
  text-decoration: none; }
  .menu a:hover {
    text-decoration: underline; }
  .menu a.active {
    color: #444; }
    .menu a.active:hover {
      text-decoration: none; }

.wizard-bar {
  color: #ffffff;
  font-family: Georgia, Helvetica, serif;
  font-size: 15px; }
  .wizard-bar li a {
    color: #fff;
    text-decoration: none; }
  .wizard-bar li.active a {
    font-weight: bold; }
    .wizard-bar li.active a:hover {
      text-decoration: underline; }
  .wizard-bar li.visited a:hover {
    text-decoration: underline; }

/* Forms */
button, button a, input[type='submit'] {
  color: #fff;
  font-family: Georgia, Helvetica, serif;
  font-size: 15px;
  text-decoration: none; }

label {
  display: block;
  float: left;
  width: 150px; }

/* Tables */
table a {
  color: #958eb4;
  text-decoration: underline; }
  table a:hover {
    color: #999;
    text-decoration: none; }

/* Tab bar */
.tab-bar li a {
  color: #333;
  display: block;
  padding: 8px 15px;
  text-decoration: none; }
  .tab-bar li a:hover {
    text-decoration: underline; }
.tab-bar li.ui-tabs-active a {
  background-color: #ebebeb; }

/*** Forms ***/
button, input[type='submit'] {
  background-color: #4d9784;
  border-width: 0;
  color: #fff;
  padding: 4px 17px; }
  button:hover, input[type='submit']:hover {
    background-color: #296f5d; }

input {
  border: 0;
  padding: 4px; }

table {
  border-bottom: solid 1px #d2d2d2;
  border-left: solid 1px #c2c2c2;
  width: 100%; }

table a:hover {
  text-decoration: underline; }

th, td {
  border-right: solid 1px #c2c2c2;
  font-size: 15px;
  padding: 9px 11px;
  text-align: left; }

tr:nth-child(odd) {
  background-color: #f4f4f4; }

tr:nth-child(even) {
  background-color: #fff; }

table th {
  background-color: #b9b9b9;
  color: #fff; }

table th.sub-header {
  background-color: #dbdbdb;
  color: #333;
  font-style: italic; }

table input[type="text"] {
  border: solid 1px #aaa;
  width: 90%; }

table input[type="text"]:disabled {
  background-color: transparent;
  border-width: 0; }

td.dynamic-row-num {
  width: 10px; }

td.error {
  background-color: #e8be77;
  color: #855f1e; }

table.numeric th, table.numeric td {
  text-align: right; }

.fixed-header {
  position: fixed;
  top: 0; }

.next {
  float: right;
  margin: 16px 0; }

.cancel {
  float: right;
  margin: 16px 15px; }

button.back {
  float: right;
  margin: 16px 0; }

.head {
  background-color: #685ca0;
  color: #fff;
  height: 80px;
  width: 100%; }

.menu {
  background-color: #ddd;
  color: #ccc;
  padding: 8px 0;
  width: 100%;
  overflow: auto; }
  .menu ul {
    float: left; }
    .menu ul li {
      display: inline;
      padding: 0 15px; }

.welcome_info {
  float: right;
  line-height: 1.7em;
  padding: 16px 16px 0 0; }

.welcome_info a {
  float: right; }

.container {
  margin: 45px auto 0 auto;
  max-width: 900px; }

.tab-bar {
  margin-left: 25px;
  font-family: Georgia, Helvetica, serif;
  font-size: 15px; }

.tab-bar li {
  float: left;
  margin-right: 4px; }

.wizard-bar {
  margin-bottom: 35px;
  overflow: auto; }

.wizard-bar li {
  background-color: #958eb4;
  display: block;
  padding: 8px 19px;
  float: left;
  border-right: solid 1px #685ca0; }

.wizard-bar li.visited {
  background-color: #685ca0; }

.wizard-bar li.active {
  background-color: #403475; }

.wizard-bar-container {
  text-align: center;
  width: 100%; }

.search-box {
  background-color: #ebebeb;
  clear: both;
  margin: auto;
  padding: 20px;
  position: relative;
  width: 310px; }

.search-inline {
  position: relative;
  float: right;
  width: 300px; }
  .search-inline .ui-icon-search {
    background-color: transparent;
    position: absolute;
    top: 3px;
    right: 20px;
    padding: 0; }
    .search-inline .ui-icon-search:hover {
      background-color: transparent; }

.search-box input[type="text"], .search-inline input[type="text"] {
  width: 270px; }

.search-box .ui-icon-search {
  background-color: transparent;
  bottom: 23px;
  padding: 0;
  position: absolute;
  right: 35px; }

.tab-box, .form-box, .ui-tabs-panel {
  background-color: #ebebeb;
  clear: both;
  padding: 45px; }

.form-box {
  margin-bottom: 25px; }

.tab-box h1 {
  font-size: 28px;
  margin-bottom: 35px; }

.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

.form-row {
  margin: 8px 0; }

.label-box {
  float: left;
  margin-right: 4px;
  width: 170px;
  text-align: right; }

.small-aside {
  margin-bottom: 25px;
  width: 200px; }

/* Overrides JQuery Autocomplete default CSS */
.ui-tabs {
  border: 0;
  padding: 0; }

.ui-menu-item {
  background-color: #fff; }

.ui-state-error, .ui-state-highlight {
  line-height: 1.3em;
  margin-bottom: 25px;
  padding: 0.7em; }

.ui-state-error li, .ui-state-highlight li {
  margin: 0.5em 0 0.5em 8px; }

.ui-icon {
  margin: 0 0.3em;
  float: left; }

.ui-widget-content .ui-button {
  border: 0;
  background: transparent; }

.ui-autocomplete {
  background-color: #fff; }
  .ui-autocomplete a {
    text-decoration: none; }

.ui-autocomplete-category {
  background-color: #efefef;
  border-bottom: solid 1px #cccccc;
  padding: 5px 0.4em; }

/*# sourceMappingURL=app.css.map */
